.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.noMovies {
  padding: 2rem;
  text-align: center;
}

.pageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  padding: 1rem 2rem;
}
